In [1]:
# import translation module
import translators as ts

# import pandas for reading '.csv's and editing dataframes
import pandas as pd 

# use tqdm to keep track of the status of 'for' loops / pandas.apply()
from tqdm import tqdm
tqdm.pandas()

# use 'sleep' to slow down translation (so API doesn't crash)
from time import sleep

Using United States server backend.

In [2]:
# import data: change the name and location of the file
# the way its currently set up assumes you have seperate comment and label datasets
comments_df = pd.read_csv('Datasets/jigsaw_multilingual/test.csv')
labels = pd.read_csv('Datasets/jigsaw_multilingual/test_labels.csv')

In [3]:
# display the first few comments
comments_df.head(5)

   id                                            content lang
0   0  Doctor Who adlı viki başlığına 12. doctor olar...   tr
1   1   Вполне возможно, но я пока не вижу необходимо...   ru
2   2  Quindi tu sei uno di quelli   conservativi  , ...   it
3   3  Malesef gerçekleştirilmedi ancak şöyle bir şey...   tr
4   4  :Resim:Seldabagcan.jpg resminde kaynak sorunu ...   tr
5   5  Le truc le plus important dans ta tirade c est...   fr
6   6  20px Caro editor, encontramos problemas na edi...   pt
7   7  el skate es unos de los deportes favoritos de ...   es

In [4]:
# specify the number of comments to be translated (can remove slice if want to translate the whole dataset)
num_comments = 2000
comments_df = comments_df[:num_comments]

In [5]:
# translation function:
# it trys to translate the comment, but if it can't then it return 'ERROR' and prints 'Error'
def translate(comment):
    try:
        # translate using another API by change ts.<translation api>(google)
        c = ts.google(comment)
    except:
        # maybe consider editing this to give more information on the nature of the error
        c = 'ERROR'
        print('Error')
    return c

In [6]:
# applys the translation function to all the comments in the column titled "content"
# '.progress_apply()' is used instead of '.apply()' so you can keep track of the progress of the translation
comments_df["content"] = comments_df["content"].progress_apply(translate)

  7%|██▉                                     | 147/2000 [02:39<34:39,  1.12s/it]

Error

 43%|███████████████▊                     | 855/2000 [15:47<24:43:55, 77.76s/it]

Error

100%|███████████████████████████████████████| 2000/2000 [21:56<00:00,  1.52it/s]

In [7]:
# aquires the labels (again may have to change if labels are in the same dataset)
labels = labels[:num_comments]
labels.head(5)

        id  toxic
0        0      0
1        1      0
2        2      1
3        3      0
4        4      0
...    ...    ...
1995  1995      0
1996  1996      0
1997  1997      0
1998  1998      1
1999  1999      0

[2000 rows x 2 columns]

In [8]:
# find how many comments are toxic (1) or non toxic (1)
labels.toxic.value_counts()

0    1538
1     462
Name: toxic, dtype: int64

In [10]:
# adds the label column to the dataframe 
istoxic = labels["toxic"]
translated_df = comments_df.join(istoxic)
translated_df.head()

In [12]:
# saves the dataframe of translated comments with the attached labels as a '.csv'
# !!!MAKE SURE TO CHANGE THE NAME SO YOU DON"T OVERWRITE PREVIOUS FILES!!!
translated_df.to_csv('translated_jigsaw.csv')